html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}


h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	color: black;
}

a:hover {
	color: #B1663C;
}

li:nth-child(3){
	font-weight: 600;
}

/****Connexion******/

main{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 150px;
}

main > h1{
	font-weight: normal;
	color: #1D6154;
	font-size: 30px;
}

form{
	display: flex;
	flex-direction: column;
}

form > div{
	display: flex;
	flex-direction: column;
}

form > div > input{
	width: 379px;
	height: 51px;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border: none;
}

.email{
	margin-top: 60px;
}

.mot_de_passe{
	margin-top: 52px;
}

form label{
	color: #3D3D3D;
	font-size: 14px;
	font-family: Work Sans;
	font-weight: 500;
	margin-bottom: 7px;
}


input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 37px auto ;
	width: 179px;
	height: 36px;
	border-radius: 60px ;
	border: none;
	cursor: pointer;
}



a{
	text-decoration: none;
	color: #3D3D3D;
}


#erreur{
	display: none;
	position: absolute;
	top: 545px;
	color: red;
	font-weight: bold;
	font-size: 15px;
}